
@import "compass/css3";
#myVideo{
	display: block;
	width:100%;
	position:absolute;
	top:0;
	left: 0;
}
body{
	margin: 0;
	padding:2px;
}
header{
	background-color: #D3D3D3;
	position: static;
	width:100%;
}
nav ul {
  list-style: none;
  text-align: center;
  padding: 0;
  margin: 0;
}

nav li {
    width: 13.3%;
    height: 60px;
    line-height: 60px;
    font-size: 100%;
    display: inline-block;
  }
nav a {
  text-decoration: none;
  color: #fff;
  display: block;
  padding-left: 15px;
  font-size:150%;
  transition: 0.5s background-color text-decoration;
}

nav a:hover {
  background-color: #000;
  text-decoration: underline;
}

nav a.Active {
  background-color: #000;
  color: #FFF;
  cursor: default;
}

/* Sub Menus */
nav li li {
  font-size: .8em;
}

nav > ul > li {
   text-align: center;
}

nav > ul > li > a {
    padding-left: 0;
}

/* Sub Menus */
nav li ul {
    position: absolute;
    display: none;
    width: inherit;
}

nav li:hover ul {
   display: block;
   background-color: #D3D3D3;
}

nav li ul li {
   display: block;
   width:100%;
   text-align: center;
   transitio:0.5s background-color;
 }
 nav li ul li:hover{
 	background-color: #000;
 }

 .all{
  width:100%;
 }

h1{
    font-size: 200%;
  text-align: center;
  font-family: "Georgia",'Sanchez', serif;
}
video{
  width:95%;
  margin:2.5%;
  height: 80%;
}

.Shayari{
    width:95%;
  margin:2.5%;
  font-size: 200%;
  font-family: "Georgia",'Sanchez', serif;

}
p{
  text-align: center;
}
span{
  display: inline-block;
  width:15%;
  font-size:50px;
  line-height:0.6em;
  opacity:0.2
}

.last{
  position: absolute;
  left:90%;
}

@media screen and (min-width: 1050px){
video{
  display: inline-block;
  width:45%;
  float: left;
}

.Shayari{
  display: inline-block;
  width:45%;
  float: left;
}
}

footer{
	margin-bottom:0px;
	width:100%;
	background-color: #D3D3D3;
	top:100%;
	font-size: 200%;
	text-align: center;
	font-family: "Georgia",'Sanchez', serif;
	position: absolute;
	  -ms-transform: translateY(-100%);
  transform: translateY(-100%);
	clear: both;

}

footer i{
	margin: 5px;
	margin-top:0;
	padding: 0;
	color: #000;
}
footer a{
	color: #000;
	text-decoration: none;
}

footer p{
	margin:10px;
	padding:0;
}


